h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 45x;
    color: #333;

}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #4169E1;
}

.garis-bawah {
    width: 50px;
    height: 5px;
    background-color: #4169E1;
    border-radius: 20px;
}

p.penulis {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    margin: 0;
    color: #333;
    font-family: 'PT Sans', sans-serif;

}

.isi .pic-kiri,
.isi .pic-kanan {
    margin-bottom: 0;
    margin-top: 30px;
}

.isi .tips-kiri,
.isi .tips-kanan {
    margin-bottom: 30px;
    margin-top: 0;
    text-align: start;
}

footer {
    background-color: #4169E1;
}

@media (min-width: 992px) {
    .container {
        width: 1100px;
        background-color: white;
    }

    .isi .container {
        display: flex;
    }

    .container.text-center.jarak {
        margin-top: 50px;
    }

    p.penulis {
        font-size: 13px;
    }
    .garis-bawah {
        width: 65px;
    }

    .isi .pic-kiri {
        order: 1;
        margin-top: 80px;
        margin-bottom: 80px;

    }

    .isi .pic-kanan {
        order: 2;
        margin-top: 80px;
        margin-bottom: 80px;

    }

    .isi .tips-kiri {
        order: 1;
        text-align: start;
        margin-bottom: 80px;
        margin-top: 80px;
    }

    .isi .tips-kanan {
        order: 2;
        text-align: end;
        margin-bottom: 80px;
        margin-top: 80px;
    }

    p.par_desk {
        font-size: 20px;
    }

}